#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a gitlab instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=GitLab Runner
BindsTo=gitlab.service
After=gitlab.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/gitlab-runner.pid %t/gitlab-runner.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --name gitlab-runner \
    --conmon-pidfile=%t/gitlab-runner.pid \
    --cidfile=%t/gitlab-runner.ctr-id \
    --cgroups=no-conmon \
    --pod-id-file %t/gitlab.pod-id \
    --replace \
    --volume gitlab-runner-config:/etc/gitlab-runner:Z \
    --volume gitlab-runner-machine-config:/root/.docker/machine:Z \
    --volume ${XDG_RUNTIME_DIR}/podman/podman.sock:/var/run/docker.sock \
    ${GITLAB_RUNNER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/gitlab-runner.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/gitlab-runner.ctr-id
PIDFile=%t/gitlab-runner.pid
Type=forking

[Install]
WantedBy=default.target
