#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a gitlab instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=GitLab Server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/gitlab.pid %t/gitlab.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --name gitlab \
    --conmon-pidfile=%t/gitlab.pid \
    --cidfile=%t/gitlab.ctr-id \
    --cgroups=no-conmon \
    --replace --name=gitlab \
    --publish=127.0.0.1:${TCP_PORT}:80 \
    --publish 5050:5050 \
    --shm-size 256m \
    --env-file=%S/state/gitlab.env \
    --volume %S/state/gitlab.rb:/etc/gitlab/gitlab.rb:ro,Z \
    --volume gitlab-config:/etc/gitlab:Z \
    --volume gitlab-data:/var/opt/gitlab:Z \
    --volume gitlab-logs:/var/log/gitlab:Z \
    ${GITLAB_CE_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/gitlab.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/gitlab.ctr-id
PIDFile=%t/gitlab.pid
Type=forking

[Install]
WantedBy=default.target
